# Ignora todo por defecto
*

# Excepciones: Carpetas (necesitan un archivo para ser trackeadas)
!data/
!models/
!src/
!venv/

# Excepciones: Tipos de archivos específicos
!*.py
!.gitignore
!README.md
!requirements.txt

# Ignora archivos dentro de carpetas (excepto los permitidos)
**/*  # Ignora todo dentro de las subcarpetas
!*/   # Permite las carpetas (pero no su contenido)
!data/**/*.csv  # Ejemplo: Permitir archivos CSV en data/
!models/**/*.pkl
!src/**/*.py